In [6]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import mysql.connector
import numpy as np

In [10]:
conn =mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "mn_db"
)

In [ ]:
cursor = conn.cursor()
query = "SELECT * FROM instagram_info"
cursor.execute(query)
records = cursor.fetchall()


df = pd.read_sql(query,conn)

display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_3828\2289558021.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,conn)

   id         username password
0  52  kalau aku swipe       as
1  53          mamamia      123
2  54           julias      123
3  55        julias123      123
4  56          iaskeyz      123
5  57       makkohijau      123

In [ ]:
cursor = conn.cursor()
query = "SELECT * FROM facebook_info"
cursor.execute(query)
records = cursor.fetchall()


df = pd.read_sql(query,conn)

display(df)

C:\Users\user\AppData\Local\Temp\ipykernel_3828\1820205540.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,conn)

   id                 email     password
0   1  iaskeyz.09@gmail.com          123
1   2  iaskeyz.09@gmail.com          123
2   3             julais123          123
3   4  iaskeyz.09@gmail.com  aliffhensem